*{
    padding: 0%;
    margin: 0%;
}

body{
    background-image: url(img/caifondo2.jpg);
    background-size: no-repeat;
    background-position-x: center;
    background-size: contain;
}
.contenedorLogo{
    display:flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(239, 43, 43);
    padding: 2px;
    box-sizing: border-box;
}
.uno{
    font-size: 70px;
    font-family: Homer system-ui;
    color: white;
}
.logo{
    border-radius: 10px;
    vertical-align: middle;
    width: 6%;
    overflow: hidden;
    transition: transform 300 ms;
}

.contenedorIzquierdo{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    right: 0;
    margin-right: 50px;
}
a{
    border-radius: 25%;
    padding: 2%;
    background-color: black;
    color: #fff;
    text-decoration: none;
}
a:active{
    font-size: x-large;
}

.parrafo{
    display: grid;
    justify-items: center;
    background-color: rgb(244, 197, 197);
    text-align: center;
    font-style: italic;
    width: 400px;
    height: 420px;
    margin:auto;
    padding: 2%;
    font-size: large;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 35px;
    transition: transform 400 ms;
}

.paginaRojo{
    background-color: brown;
    padding: 1.5%;
    position: absolute;
    left: 0;
    bottom:0;
}
.paginaRojo:visited{
    color: black;
}
.carousel-inner img{
    width: 1050px;
    max-height: 430px;
}
.carousel-inner{
    height: 500px;
    margin-right:60px;
    margin-top: 25px;
    width: 70%;
    border-radius: 10px;
}
#COPAS{
    float:right
}
.list-group{
    width: 400px;
    margin-left: 60px;
    margin-top: 25px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    float:left
}


@media(max-width: 900px){
    .contenedorLogo{
        margin: 0%;
        width: 50%;
        }
    .uno{
        font-size: 40px;
        }
    .logo{
        width: 0%;
        }
    .parrafo{
            width: 300px;
            height: 150px;
            font-size: 40px;
            width: 100%;
        }
    .contenedorIzquierdo{
        top:0;
        right: 0;
        }
    .parrafo:hover{
        transform: translate(0px);
        }
    .carousel-inner img{
            width: 100%;
            max-height: 460px;
        }
    .carousel-inner {
            height: 100%;
            width: 100%;
         }
    .list-group{ 
            margin: 0%;
            align-items: center;
            width: 300px;
        }
        }
@media(max-width:700px){
    .contenedorLogo{
        display:contents;
        margin: 0%;
        width: 0%;
        }
    .uno{
        font-size: 0px;
        }
    .logo{
        width: 15%;
        border-style: solid;
        }
    .logo:hover{
        transform:scale(2,2)
        }
    .parrafo{
        height: 200px;
     }
}